* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  /* background-color: #ffffff; */
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  border-bottom: thin solid #4B5263;
  font-family: 'Roboto';
  /* padding-bottom: 5px; */
}

.site-title {
  cursor: pointer;
}

.site-title:hover {
  color: #ffffff;
  transform: scale(1.02); /* Slight enlargement */
  text-shadow: 0 0 10px #5bc0de; /* Glow effect with cyan shade */
  z-index: 100;
}

/* Optional: Add focus or active state for better accessibility */
.site-title:focus, .site-title:active {
  color: #5bc0de; /* Highlight color */
  outline: none;
}

.nav h1 {
  padding-left: 2rem;
  padding-right: 1rem;
  font-size: 25px;
  font-weight: 400;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 .25rem;
} 

.links {
  font-size: 16px;
  font-family: 'Roboto';
}

.nav li {
  font-size: 16px;
  font-family: 'Roboto';
}


.nav img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-top: 8px;
  margin-right: 18px;
}

.nav-item {
  text-underline-offset: 4px;
  font-size: 18px;
  color: #e6e6e6; /* Light text color for contrast */
  /* font-size: 1.5rem; */
  font-weight: bold;
  transition: all 0.3s ease-in-out; /* Smooth animation for hover effects */
  cursor: pointer;
}

.nav-item:hover {
  color: #ffffff; /* Slightly brighter text on hover */
  transform: scale(1.1); /* Slight enlargement */
  text-shadow: 0 0 10px #5bc0de; /* Glow effect with cyan shade */
  z-index: 100;
}

/* Optional: Add focus or active state for better accessibility */
.nav-item:focus, .nav-item:active {
  outline: none;
  color: #5bc0de; /* Highlight color */
}

