.listBox {
  border-style:  solid;
  border-color: #4B5263;
  height: 64.5vh; 
  margin: 5vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.listItem {
  border-bottom: solid;
  border-color: #4B5263;
  height: 6vh;
  display: flex;
  align-items: center;
  padding-left: 1vw;
}

.infoBox {
  border-style:  solid;
  border-color: #4B5263;
  width: 40vw; 
  height: 75vh; 
  overflow-y: scroll;
  padding-right: 2vh;
}
